@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap");
:root {
	--fonte-primaria: "Prata", serif;
	--fonte-secundaria: "Montserrat", sans-serif;
	--cor-destaque: #6278f7;
	--cor-fonte: #212121;
	--cor-contraste: var(--cor-input);
	--cor-fonte-terciaria: #afafaf;
	--cor-form: #f6f6f6;
	--cor-input: #ffffff;

	--cor-programacao: #57c278;
	--cor-front-end: #82cffa;
	--cor-data-science: #a6d157;
	--cor-devops: #e06b69;
	--cor-ux-e-design: #db6ebf;
	--cor-mobile: #ffba05;
	--cor-inovacao-e-gestao: #ff8a29;

	--fundo-programacao: #d9f7e9;
	--fundo-front-end: #e8f8ff;
	--fundo-data-science: #f0f8e2;
	--fundo-devops: #fde7e8;
	--fundo-ux-e-design: #fae9f5;
	--fundo-mobile: #fff5d9;
	--fundo-inovacao-e-gestao: #ffeedf;
}
* {
	box-sizing: border-box;
	user-select: none;
	transition: all 0.5s ease-in;
}
html {
	scrollbar-color: var(--cor-destaque) transparent;
	scrollbar-width: thin;
	overflow-x: hidden;
}
body {
	width: 100vw;
}
img {
	pointer-events: none;
}

.minha__organizacao__container {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.minha__organizacao__container h3 {
	font-size: clamp(1.5rem, 2vw, 2.5rem);
	font-family: var(--fonte-primaria);
	font-weight: 400;
	line-height: clamp(2.5rem, 4vw, 4.5rem);
}
.minha__organizacao__container div {
	width: 10vw;
	border-top: 4px solid var(--cor-destaque);
}
